/* 页面整体样式 */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#whiteboard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: grid;
    place-items: center;
    overflow: hidden;
}

/* 绘图区域样式 */
#canvas {
    border: 1px solid black;
    cursor: crosshair;
    position: fixed;
    transform: translateZ(0);
}

/* 控制条样式 */
#controls {
    position: fixed;
    bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tools-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #a3cef1;
    padding: 10px;
    margin-bottom: 10px;
    animation: fade-in-out 0.5s ease-in-out;
}

.button {
    transition: transform 0.3s ease-in-out; /* 添加按钮的缩放过渡效果 */
}

.button-active {
    transform: scale(1.2); /* 将被激活的按钮放大为 1.2 倍大小 */
}

.button-active + .button {
    transform: scale(0.8); /* 将相邻的按钮缩小为 0.8 倍大小 */
}


@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


.tool-button {
    margin: 0 5px;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tool-button:hover {
    background-color: #0056b3;
}

.tool-button:active {
    background-color: #003d80;
}

#tools-container2 {
    position: fixed;
    bottom: 10px;
    right: 120px;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #6096ba;
    padding: 10px;
    margin-bottom: 10px;
    animation: fade-in-out 0.5s ease-in-out;
}

#tools-container3 {
    position: fixed;
    bottom: 10px;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #6096ba;
    padding: 10px;
    margin-bottom: 10px;
    animation: fade-in-out 0.5s ease-in-out;
}

#tools-container4 {
    position: fixed;
    right: 1%;
    bottom: 20%;
    width: 20px;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #6096ba23;
    padding: 10px;
    margin-bottom: 10px;
    animation: fade-in-out 0.5s ease-in-out;
}

#background-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    animation: fade-in 0.5s ease-in-out;
}

#toggleBackground {
    margin: 0 5px;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    position: relative;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/color_fill_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

#canvasList {
    margin: 0 5px;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    position: relative;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/layers_layer_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

button.penColor {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 5px;
    border: groove;
    cursor: pointer;
    background-color: forestgreen;
    animation: fade-in 0.5s ease-in-out;
}

#penButton {
    margin: 0 5px;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    position: relative;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/pen_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

#penSubMenu {
    display: none;
    position: absolute;
    bottom: 110%;
    right: 60%;
    transform: translateX(50%);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
    animation: fade-in-down 0.5s ease-in-out;
}

#penSubMenu.open {
    display: block;
}

.slider {
    width: 100%;
    margin-bottom: 20px;
}

.slider input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

.slider input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

.slider input[type="range"]:focus {
    outline: none;
    opacity: 1;
}

#eraserButton {
    margin: 0 5px;
    flex: 1;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/eraser_regular_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

button#clearCanvasButton {
    position: relative;
    left: 30%;
    margin: 0 5px;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
}

#eraserSubMenu {
    display: none;
    position: absolute;
    bottom: auto;
    bottom: 110%;
    right: 40%;
    transform: translateX(50%);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
    animation: fade-in-down 0.5s ease-in-out;
}

.redoButton {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/redo_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

.undoButton {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/undo_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

.selectButton {
    margin: 0 5px;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/border_filled_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

.leftButton {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/rewind_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

.rightButton {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/forward_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

.menuButton {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/menu_navigation_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

.menuContainer {
    display: none; /* 默认关闭 */
    flex-direction: column; /* 设置为垂直排列 */
    align-items: flex-start; /* 文字横向对齐图标 */
    position: absolute;
    bottom: 110%;
    right: 10%;
    transform: translateX(50%);
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
    animation: fade-in-down 0.5s ease-in-out, scaleUp 0.3s ease-in-out;
}


.menuButton_close {
    margin: 0 0 5px; /* 垂直间距，可以根据需要调整 */
    width: 150px; /* 按钮宽度，可以根据需要调整 */
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    background-image: url("icon/exit_line_icon.ico");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    animation: fade-in 0.5s ease-in-out;
    display: flex; /* 让图标和文字横向排列 */
    align-items: center; /* 文字和图标垂直居中对齐 */
    padding-left: 40px; /* 调整文字和图标的距离 */
}
.menuButton_tools {
    margin: 0 0 5px; /* 垂直间距，可以根据需要调整 */
    width: 150px; /* 按钮宽度，可以根据需要调整 */
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    background-image: url("icon/tool_blending_icon.ico");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    animation: fade-in 0.5s ease-in-out;
    display: flex; /* 让图标和文字横向排列 */
    align-items: center; /* 文字和图标垂直居中对齐 */
    padding-left: 40px; /* 调整文字和图标的距离 */
}.menuButton_settings {
    margin: 0 0 5px; /* 垂直间距，可以根据需要调整 */
    width: 150px; /* 按钮宽度，可以根据需要调整 */
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    background-image: url("icon/setting_tool_tools_icon.ico");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    animation: fade-in 0.5s ease-in-out;
    display: flex; /* 让图标和文字横向排列 */
    align-items: center; /* 文字和图标垂直居中对齐 */
    padding-left: 40px; /* 调整文字和图标的距离 */
}
.minimize-btn {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #e7ecef;
    cursor: pointer;
    animation: fade-in 0.5s ease-in-out;
    background-image: url("icon/minimize_reduce_shrink_screen_display_icon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding-left: 30px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-out {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* styles.css */

/* 定义橡皮擦大小指示器的样式 */
.eraser-cursor {
    width: 30px;
    height: 30px;
    background-color: rgba(200, 200, 200, 0.7);
    border-radius: 50%;
    border: none;
}

